.sidebar {
    background-color:deepskyblue;
    width: 300px;
    text-align: center;
    height: 1500px;
}

.photo {
    background-color: aqua;
    background-size: cover;
    padding: 20px;
}

.border {
    background-color: black;
    width: 310px;
}

.name {
    text-decoration: underline;
}

.name + .port {
    margin-top: -25px;
}

p {
    text-align: left;
}

.containor {
    background-color: white;
    display: flex;
    text-align: center;
}

.topice-1 {
    background-color: white;
    height: 100px;
    width: 70%;
}

.about {
    font-style: italic;
    text-align: center;

}

.title-2 {
    text-decoration: underline
}

ol {
    text-align: left;
}

ul {
    text-align: left;
}

